<p>
	<ul>
		<p id = '<%= @task.sub_tasks %>'><% @task.sub_tasks %>
			<small> 
				<% link_to "remove", task_sub_task_path(@task, @task.sub_tasks), 
					method: :delete, data: {confirm: "Are you sure?"}, remote: true%> 
			</small>
		</p>
	</ul>
	<p id = 'sub_task_id'></p>
</p>