<p>
	<%# unless @task.sub_tasks.length == 0 %>
	<%# @task.sub_tasks.each do |sub_task| %>
	<table>
		<tr id = '<%= sub_task.id %>'>
		 <!-- <tr> -->
		 <%#binding.pry%>
			<td> <%= sub_task.content %> </td>
			<!-- <td class = 'destroy'> Destroy </td> -->
			<!--<td><%#= link_to "Destroy", task_sub_task_path(@task, sub_task.id), 
			method: :delete, data: {confirm: "Are you sure?"},  id: sub_task.id+"destroy_link", remote: true%> </td> -->
			<!-- <td><%#= link_to "Edit Task",  edit_task_sub_task_path(@task, sub_task.id), id: "edit_link", remote: true %></td> -->
			<% if @task.user == current_user %>
				<td><%= link_to "Destroy", task_sub_task_path(@task, sub_task.id), 
				method: :delete, data: {confirm: "Are you sure?"}, remote: true%> </td>
			<% end %>
		</tr>
	</table>
	<p id = 'sub_task_id'></p>
	<%#end%>
</p>