table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color: #fff;
}
table th {
   /* background-color: white;
    color: white; */
}

.spacing_between_links{
	padding-right: 100px;
}

h1{
	color: blue;
}

h2{
	color: red;
}

body {
    height: 100%;
    background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #FFA500 100%);
}

.button {
    background: white;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 4px;
    width: 20%;
    display: inline-block;
    transition: all .4s ease-in-out;
    cursor: pointer;
    color: #4169E1;
    &:hover {
        background: #4169E1;
        color: white;
    }
}

.field_with_errors{
    display: inline
}

.field_with_errors .message{
    color: #D00;
    padding-left: 5px;
}
